name: Terraform Infra

on:
  push:
    branches: [ main ]
    paths:
      - "terraform/**"

  workflow_dispatch:
    inputs:
      action:
        description: "Terraform action"
        required: true
        type: choice
        options:
          - apply
          - destroy

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::381491835701:role/terraform-ci-role
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init -reconfigure

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        if: github.event_name == 'push' || github.event.inputs.action == 'apply'
        run: terraform plan

      - name: Terraform Apply
        if: github.event_name == 'push' || github.event.inputs.action == 'apply'
        run: terraform apply -auto-approve
        working-directory: terraform
        env:
          TF_VAR_project_name: ${{ secrets.PROJECT_NAME }}
          TF_VAR_domain_name:  ${{ secrets.DOMAIN_NAME }}
          TF_VAR_aws_region:   ${{ secrets.AWS_REGION }}
          TF_VAR_acm_certificate_arn: ${{ secrets.ACM_CERTIFICATE_ARN }}

      - name: Terraform Destroy (MANUAL ONLY)
        if: github.event.inputs.action == 'destroy'
        run: terraform destroy -auto-approve -input=false
        working-directory: terraform
        env:
          TF_VAR_project_name: ${{ secrets.PROJECT_NAME }}
          TF_VAR_domain_name:  ${{ secrets.DOMAIN_NAME }}
          TF_VAR_aws_region:   ${{ secrets.AWS_REGION }}
          TF_VAR_acm_certificate_arn: ${{ secrets.ACM_CERTIFICATE_ARN }}

      - name: Upload errored state
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: errored-tfstate
          path: terraform/errored.tfstate
    
